<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <title> MyThinkTools </title>
   <link href="https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
         integrity="sha384-4FeI0trTH/PCsLWrGCD1mScoFu9Jf2NdknFdFoJhXZFwsvzZ3Bo5sAh7+zL8Xgnd" crossorigin="anonymous">

    <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"
            integrity="sha384-vOWIrgFbxIPzY09VArRHMsxned7WiY6hzIPtAIIeTFuii9y3Cr6HE6fcHXy5CFhc" crossorigin="anonymous"></script>

    <style>
		input:focus
		{
    		outline:0px !important;
    		-webkit-appearance:none;
        }
        a:focus
		{
    		outline:0px !important;
    		-webkit-appearance:none;
        }
        button:focus
		{
    		outline:0px !important;
    		-webkit-appearance:none;
        }


    </style>

</head>
<body>
<div class='hero-unit'>
    <h1> MyThinkTools </h1>
</div>

<div class='well' style='margin:40px' align='center'>
    <!--<img src="../404.jpg" alt="404 Error Image"/>-->
    <p>Nothing  Found</p>
</div>

<footer class="text-center">
    Copyright © 2018 RNS - All Rights Reserved.
</footer>
</body>
</html>
