<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <title> Plagiarism Checker - Multi Language </title>
   <link href="https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
         integrity="sha384-4FeI0trTH/PCsLWrGCD1mScoFu9Jf2NdknFdFoJhXZFwsvzZ3Bo5sAh7+zL8Xgnd" crossorigin="anonymous">

    <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"
            integrity="sha384-vOWIrgFbxIPzY09VArRHMsxned7WiY6hzIPtAIIeTFuii9y3Cr6HE6fcHXy5CFhc" crossorigin="anonymous"></script>

    <style>
		input:focus
		{
    		outline:0px !important;
    		-webkit-appearance:none;
        }
        a:focus
		{
    		outline:0px !important;
    		-webkit-appearance:none;
        }
        button:focus
		{
    		outline:0px !important;
    		-webkit-appearance:none;
        }


    </style>

</head>
<body>
<div class='hero-unit'>
    <h1> Plagiarism Checker </h1>
    <h1>
        <small>An online utility to check if a document's contents are plagiarsed.</small>
    </h1>

</div>

<div class='well' style='margin:40px' align='center'>
    <form action="/plagiarism-checker/" method="POST">
        <label for="file">
            <h3>Paste the text<h3>
        </label>
        <textarea rows="15" cols="150" name="check-text" style="width:auto"></textarea>
        <div class='form-actions'>
            <input class='btn btn-danger btn-large span3' type="submit" name="submit" value="Check Plagarism!">
        </div>
    </form>
</div>
{% if not init %}
<div class='well' style='margin:40px' align='center'>


    {% if no_match and not init %}
    <p>No match Found 100% unique content</p>
    {% else %}
    <table>
        <thead>
        <tr>
            <td>
                URL
            </td>
            <td>
                Text Matched
            </td>
        </tr>
        </thead>
        <tbody>
        {% for url,percentage_match in results.items %}
        <tr>
            <td>
                <a href="{{ url }}" target="_blankpdb.set_trace()">{{ url }}</a>
            </td>
            <td>
                {{ percentage_match}}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>
{% endif %}
<footer class="text-center">
    Copyright © 2018 RNS - All Rights Reserved.
</footer>
</body>
</html>
